<h2 class="header center">Games</h2>

<div class="row">
  <% @games.each do |game| %>
    <% if game.registration? || current_user.games.include?(game) %>

      <div class="col s12 l6">
        <div class="card">
          <div class="card-content">
            <div class="card-title">
              <%= game.name %>
              <div class="chip"> <%= game.phase %> </div>
            </div>

            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>

            <div class="card-action">
              <% if current_user.games.include?(game) %>
                <%= link_to 'Show', game %>
              <% else %>
                <%= link_to 'Join', join_game_path(game) %>
              <% end %>
              <% if game.registration? && current_user == game.creator %>
                <%= link_to 'Start', start_game_path(game) %>
                <%= link_to 'Edit', edit_game_path(game) %>
                <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>

          </div>
        </div>

      <% end %>
    <% end %>
  </div>
